body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #181818;
    color: #DADADA;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.contenedorPrincipal {
  background-color: #181818;
  padding: 50px;
  margin: 30px;
  width: 100%;
  height: 100%;
  display: flex;
}


/*Formulario*/
.contenedorFormulario {
  margin-top: 30%;
  margin-bottom: 20%;
  background-color: rgb(173, 66, 159);
  padding: 20px;
  display: flex;
  align-self: center;
  justify-self: center;
}

.contenedorRadio {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

